<div class="thanks-card pt-5 p-0 p-lg-3 mt-5 mt-lg-0">
  <div class="card card_paiement p-4" style="background-color: #ff00001a;">
    <div class="d-flex">
      <span class="material-icons position-relative pe-2" style="color: red;top: 4px;"> error </span>
      <h1 class="title_logementmb-1" style="font-weight: 400;color: red;">
        Echec de l'opération, l'autorisation de paiement a échoué ou a été rejetée !!!
      </h1>
    </div>
      <div class="card-body">
        <div class="row">
          <ul>
            <li class="ms-2" style="font-size: 17px;font-weight: 500;color: red;">Alerte de sécurité. La signature numérique n'est pas valide.</li>
          </ul>
        </div>
      </div>
  </div>
</div>




