<div class="p-3 p-sm-5 mb-1 mb-sm-5" style="min-height: 95vh;">
  <img src="../../../assets/images/travelbyrec.svg" alt="Travel By Rec" class="logo" [routerLink]="['/']">
  <h1 class="authentif-title pt-5">Bienvenue à nouveau sur <span>Travel By Rec</span> </h1>
  <h5 class="login-sub-title">Réinitialisez votre mot de passe</h5>
  <form [formGroup]="changePasswordForm" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="inputs-authentif form-group">
      <input type="password" class="form-control shadow" formControlName="password" placeholder="Mot de passe" required minlength="6">
      <div class="errors-danger mt-1" *ngIf="changePasswordForm.get('password').errors != null  && f.submitted">
        <div *ngIf="changePasswordForm.get('password').errors['required']">Mot de passe est requis</div>
        <div *ngIf="changePasswordForm.get('password').errors['minlength']">
          Le mot de passe doit comporter au moins 6 caractères
        </div>
      </div>
    </div>
    <div class="inputs-authentif form-group">
      <input type="password" class="form-control shadow" formControlName="confirm_password" placeholder="Confirmer votre mot de passe " required minlength="6">
      <div class="errors-danger mt-1" *ngIf="changePasswordForm.get('confirm_password').errors != null  && f.submitted">
        <div *ngIf="changePasswordForm.get('confirm_password').errors['required']">Mot de passe de Confirmation est requis</div>
        <div *ngIf="changePasswordForm.get('confirm_password').errors['minlength']">
          Le mot de passe doit comporter au moins 6 caractères
        </div>
      </div>
      <div class="errors-danger mt-1" *ngIf="changePasswordForm.errors != null  && changePasswordForm.get('confirm_password').errors == null  &&  f.submitted">
        Les mots de passe ne correspondent pas
      </div>
    </div>
    <button mat-stroked-button class="btn btn_reserver btn-authentif">Réinitialiser</button> <br>
    <div class="form-group">
      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
        L'opération a échoué: {{ errorMessage }}
      </div>
    </div>
  </form>
</div>

