<div>
  <video id="video1" autoplay loop>
    <source src="./../../../../assets/videos/TravelByRec_MAROC.mp4" type="video/mp4">
  </video>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type="line-scale-pulse-out-rapid">
      <div class="d-flex text-white align-items-center spinner-elements">
        <div><img src="../../../assets/images/gmail.svg" alt=""></div>
        <div class="ps-2">
          <span>Se connecter avec Google...</span>
        </div>
      </div>
  </ngx-spinner>
</div>
